* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bgColor: #f58634;
	--colorM: #142850;
	--textColor: #010514;
	--btnBg: #00af91;
	--light: white;
	--medium: rgb(228, 227, 227);
	--btnTxt: white;
}

body {
	background-color: var(--medium);
	transition: background-color 1s;
}

#title {
	color: var(--textColor);
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
}

header {
	height: 20vh;
	background-color: var(--bgColor);
	margin-bottom: 40px;
	transition: background-color 1s;
}

/*Search Bar*/
#weatherForm {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
}
#searchBar {
	height: 40px;
	padding: 10px;
	font-size: 17px;
	border: 1px solid var(--medium);
	width: 60%;
	max-width: 400px;
	background-color: var(--light);
	color: var(--textColor);
	transition: background-color 1s;
	transition: color 0.5s;
	outline: none;
}
#searchBar::placeholder {
	color: var(--textColor);
}
#submitBtn {
	height: 40px;
	max-width: 150px;
	padding: 10px;
	background: var(--btnBg);
	color: var(--light);
	font-size: 17px;
	border: 1px solid var(--medium);
	border-left: none;
	cursor: pointer;
	color: var(--btnTxt);
	transition: background-color 1s;
	transition: color 0.5s;
}
/*Invalid search*/
#errP {
	color: red;
	text-align: center;
	text-decoration: underline;
	display: none;
	margin-bottom: 30px;
}

/*Temperature Switch*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 40px;
	margin-left: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-color: var(--medium);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider::before {
	position: absolute;
	content: '°C';
	height: 30px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--light);
	transition: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	color: var(--textColor);
}

#temperature:checked + .slider {
	background-color: var(--btnBg);
}
#temperature:checked + .slider::before {
	content: '°F';
}
#temperature:focus + .slider {
	box-shadow: 0 0 1px var(--btnBg);
}

#temperature:checked + .slider::before {
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/*ghIcon*/
#ghIcon {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

/*Card*/
#giphy {
	width: 300px;
	height: 300px;
}
#card > p {
	color: var(--colorM);
	transition: color 0.5s;
}

#card {
	width: 80%;
	height: fit-content;
	max-width: 700px;
	min-width: 400px;
	background-color: var(--light);
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	transition: background-color 1s;
	padding: 10px;
}
.wrap {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	justify-content: space-between;
	margin-top: 20px;
	padding-bottom: 20px;
}
.wrap > p {
	font-size: 120%;
	font-weight: 500;
	padding: 1vw;
	color: var(--textColor);
}

.wrap1 {
	display: grid;
	grid-template-columns: 15% 25% auto auto;
	height: fit-content;
	align-items: center;
	justify-items: center;
}
#city {
	font-size: 35px;
	color: var(--textColor);
	transition: color 0.5s;
}
#weatherIcon {
	grid-column: 4 / 5;
}

/*Map*/

#myMAP {
	width: 100%;
	height: 200px;
}

#locationIcon {
	width: 40px;
	height: 40px;
	background-color: var(--btnBg);
}
