* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bgColor: #a3c3e6;
	--colorM: #142850;
}

body {
	background-color: var(--bgColor);
}
#card {
	border: 2px solid var(--colorM);
}
#card > p {
	color: var(--colorM);
}

#title {
	color: var(--colorM);
	text-align: center;
}

/*Search Bar*/

#searchBar {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 60%;
	background: #f1f1f1;
}

#submitBtn {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196f3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

#weatherForm::after {
	content: '';
	clear: both;
	display: table;
}

/*Temperature Switch*/
.switch {
	position: relative;
	display: inline-block;
}
