* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bgColor: #a3c3e6;
	--colorM: #142850;
}

body {
	background-color: var(--bgColor);
}
#card {
	border: 2px solid var(--colorM);
}
#card > p {
	color: var(--colorM);
}

#title {
	color: var(--colorM);
	text-align: center;
}

/*Search Bar*/
#weatherForm {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
}
#searchBar {
	height: 40px;
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 60%;
	max-width: 400px;
	background: #f1f1f1;
}

#submitBtn {
	height: 40px;
	max-width: 150px;
	padding: 10px;
	background: #2196f3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
/*Invalid search*/
#errP {
	color: red;
	text-align: center;
	text-decoration: underline;
}

/*Temperature Switch*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 40px;
	margin-left: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider::before {
	position: absolute;
	content: '°C';
	height: 30px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
}

#temperature:checked + .slider {
	background-color: #2196f3;
}
#temperature:checked + .slider::before {
	content: '°F';
}
#temperature:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

#temperature:checked + .slider::before {
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/*ghIcon*/
#ghIcon {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

/*Card*/
